@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Island+Moments&family=The+Nautigal:wght@400;700&display=swap');
body{
   
    font-family: 'Poppins', sans-serif;
    margin:0px;
   
}
.text-border{
    border-left: 4px aqua solid;
    padding-left: 15px;
}
    

.text-border h1{
    font-size: 50px;
    
   
}
.text-color{
    color: aqua;
    margin-top: 10px;
}
.flaxibal-containar{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 100px;
    width: 90%;
   
}
.half-width{
    width: 50%;
    padding: 10px;
}
.half-width img{
    width: 100%;
}
.half-width p{
    width: 100%;
}
.button{
    text-decoration: none;
     background:aqua;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.mission-us{
    text-align: center;
}
h1{
    font-size: 45px;
}
.year-color{
    color: aqua;
}
.my-mission{
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
    width: 30%;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;

}
#mission{
    background-color: #EDF5F6;
}
#vission{
    background-color: #FFEEEE;
    
}
#Goals{
    background-color:#FFF4D6; 
}
.bottom{
    background-color: #5E15E5;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    color:#FFF4D6;
    
}   
.link-s{
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 1s;
    padding: 10%;
}
.link-s :hover{
    color: yellow;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px 0px;
    
}
.footr-text-color{
    color: aqua;
}
#missin-2022{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

